{
  "root": true,
  "extends": "sunset-nodejs",
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "Promise": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-expressions": "off",
    "max-nested-callbacks": ["error", 10],
    "promise/no-native": "off",
    "promise/always-return": "off",
    "promise/no-callback-in-promise": "off"
  }
}
